* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.header {
}
.nav-container {
  max-width: 1250px;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 3rem 3rem;
  align-items: center;
  justify-content: space-between;
}
.nav-links a {
  padding: 1.5rem;
  text-decoration: none;
  color: #484848;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.logo {
  text-decoration: none;
  font-family: "Volkhov", serif;
  color: #484848;
  font-weight: 500;
  font-size: 2.5rem;
}
.nav-btn {
  background: black;
  color: white;
  padding: 0.9rem 2.2rem;
  border-radius: 0.5rem;
  border: none;
}
.hero-sale {
  display: flex;
  max-width: 1250px;
  margin: auto;

  align-content: center;
  justify-content: space-evenly;
}
.center-sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.side-sale {
  background-color: #e0e0e0;
  border-radius: 0.5rem;
}
.side-sale img {
  height: 100%;
  width: 100%;
  padding-top: 7rem;
}
.right-side-hero-img {
  padding-left: 2rem;
  padding-right: 4rem;
}
.center-img-top {
  background-color: #e0e0e0;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.center-texts {
  text-align: center;
}
.center-text-one {
  font-size: 4.5rem;
  font-weight: 500;
  color: #484848;
}
.center-text-two {
  font-size: 11rem;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 0;
  color: white;
  letter-spacing: 1px;
  line-height: 0.8;
}
.center-text-three {
  font-size: 1.1rem;
  padding-top: 1rem;
  letter-spacing: 2.3px;
  color: #676565;
  font-weight: 500;
}
.sale-btn {
  background: black;
  color: white;
  padding: 0.9rem 3.2rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.ft-companis-main {
  display: flex;
  max-width: 1250px;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.ft-companis-main img {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
}
.carosuel-main {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  flex-direction: row;
  max-width: 1250px;
  margin: auto;
}
.carosuel-container {
  background-color: #0000000e;
}
.timer {
  display: flex;
  gap: 26px;
}
.left-side-carosuel {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.buy-btn {
  background: black;
  color: white;
  padding: 0.9rem 2.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-flex;
  width: fit-content;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.Day,
Hr,
Min,
Sec {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imgs-carosuel {
  display: flex;
  align-items: center;
  transition: 1s linear;
}

.img-carosuel-main {
  height: 380px;
}
.img-carosuel-center {
  align-items: center;
  flex-direction: column;
  display: flex;
  text-align: center;
}
.img-carosuel-center img {
  height: 450px;
}
.carosuel-header {
  text-decoration: none;
  font-family: "Volkhov", serif;
  color: #484848;
  font-weight: 500;
  font-size: 2.5rem;
  padding-top: 3rem;
  white-space: pre;
}
.carosuel-para {
  color: #8a8a8a;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.carosuel-market-text {
  color: black;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}
.timer {
  padding-top: 1.5rem;
}
.timer span {
  background: #f8f7f7;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  font-family: "Digital-7 Mono", sans-serif;
}
.timer p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 1rem;
}
