* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Volkhov";
  overflow-x: hidden;
}
.wrap {
  max-width: 1250px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 40px;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 55px;
}

.logo {
  font-weight: 500;
  font-size: 3rem;
  color: rgb(51, 45, 45);
}

.nav-items p {
  font-size: 1.2rem;
  color: rgb(117, 108, 108);
  font-weight: 500;
}

.navbar button {
  background: black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
  color: white;
}

.nav-btn {
  background: black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
  color: white;
  margin-top: 3rem;
}
.swiper {
  width: 100%;
  height: 800px;
  margin-top: 3rem;
}
.swiper-slide {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  padding: 10px;
}
#img-slide {
  width: 100%;
  height: auto;
}
.swiper-slide img {
  width: 300px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
#nav-icon {
  display: none;
}
.swiper-button-prev {
}
#img-one {
  width: 422px;
  height: 570px;
  position: absolute;
  bottom: -5.5rem;
}
.inside-div {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 250px;
  height: 150px;
  background-color: #fff;
  padding: 25px;
  z-index: 0;
  font-family: "Poppins";
}
.inside-first {
  color: #484848;
}
.valid {
  color: #484848;
  font-size: 14px;
}
.inside-late {
  padding-top: 1rem;
  font-size: 2rem;
}
.img-one {
  background: #e0e0e0;
  position: relative;
  width: 350px;
  height: 650px;
  margin-top: 80px;
  border-radius: 10px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  max-width: 1250px;
  margin: 0 auto;
}

.mid-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#img-two {
  width: 450px;
}
#img-three {
  max-width: 100%;
}
.img-two {
  width: 450px;
  height: 150px;
  background: #e0e0e0;
  overflow: hidden;
  border-radius: 10px;
}
.img-three {
  display: flex;
  height: 250px;
  width: 350px;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.hero p {
  font-family: "Poppins";
  line-height: 120px;
}
.text-ultimate {
  font-size: 6.5rem;
  color: #484848;
  padding-bottom: 10px;
}

.text-sale {
  font-size: 13rem;
  padding-top: 20px;
  color: white;

  -webkit-text-stroke: 2px #484848;

  text-stroke: 2px #484848;

  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;

  font-weight: 600;
}
.collection-text {
  font-size: 1.5rem;
  color: black;
}
.hero button {
  background: black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
}
.brand-section {
  display: flex;
  align-content: center;
  flex-direction: row;
  margin-top: 50px;
  gap: 110px;
  justify-content: center;
  padding-bottom: 80px;
}
.brand-section img {
  width: 150px;
  height: 40px;
  margin-top: 50px;
}
.deals {
  background-color: #fafafa;
  padding-bottom: 120px;
}
.deals-container {
  max-width: 1250px;
  padding-top: 4rem;
  margin: 0 auto;
}
.testi {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #fafafa;
}
.newsl {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.newsl-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.newsl-container {
  display: flex;
}
.newsl-container img {
  width: 500px;
}
.testi-container {
  max-width: 1250px;
  padding-top: 6rem;
  margin: 0 auto;
}
.newsl-para {
  font-size: 1.2rem;
  color: #767676;
  margin-top: 1rem;
}
.reviews {
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#testi-img {
  width: 320px;
  margin-top: 3rem;
}
.review {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  height: 450px;
  width: 820px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-testi {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.testi-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
  background: none;
  color: black;
  transition: 0.1s linear;
  border: 2px solid #000;
}

.testi-btn:hover {
  background: #000;
  color: white;
  cursor: pointer;
}
.review-para-text {
  font-size: 1.5rem;
}
.review-para {
  margin-left: 3rem;
}
.review-head-text {
  font-size: 1.5rem;
  color: #333;
}
.review-head-para-text {
  color: #8a8a8a;
}
.arrival {
  padding-bottom: 120px;
}
.arrival-container {
  max-width: 1250px;
  padding-top: 4rem;
  margin: 0 auto;
}
.pky {
  padding-bottom: 120px;
  padding-top: 6rem;
}
.pky-container {
  max-width: 1250px;
  padding-top: 4rem;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.head-logo {
  font-weight: 500;
  font-size: 3rem;
  color: rgb(51, 45, 45);
}

.head-para {
  color: #8a8a8a;
  font-size: 17px;
  width: 620px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}
.arrival {
  background: #fff;
}

.pky-boxes {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: row;
  font-family: "Poppins";
}
.pky-box-one {
  background: #f8f8f8;
  width: 100%;
  height: 650px;
  transform: skewX(-10deg);
}
.pky-content {
  transform: skewX(10deg);
}
.pky-box-two {
  border-left: 3px solid #484848;
  background: #dadada;
  width: 100%;
  height: 650px;
  transform: skewX(-10deg);
  padding-left: 6rem;
  padding-top: 3rem;
}
.pky-upper-text {
  color: #767676;
  font-size: 1.2rem;
}
.pky-main-text {
  color: #484848;
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Volkhov";
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.pky-desc-text {
  font-size: 1.2rem;
  text-decoration: underline;
}
.pky-desc-text:hover {
  cursor: pointer;
}
.pky-btn:hover {
  cursor: pointer;
}
#pky-btn:hover {
  cursor: pointer;
}

#pky-img {
  width: 620px;
}
.service-container {
  max-width: 1250px;
  padding-bottom: 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;

  gap: 50px;
  white-space: nowrap;
}
.insta {
  padding-bottom: 2rem;
  padding-top: 6rem;
}
.insta-container {
  max-width: 1250px;

  margin: 0 auto;
}
.normal {
  width: 250px;
}
.speci {
  width: 320px;
}
.insta-picture-gallery {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  padding-bottom: 5rem;
}
.service {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.05);
  padding-bottom: 2rem;
}

.service-main {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Poppins";
}
.service-main-text {
  font-size: 1.5rem;
}
.service-para-text {
  color: #767676;
}
.service-main i {
  font-size: 4rem;
}
.pky-para {
  font-size: 1.2rem;
  color: #767676;
  width: 515px;
  padding-top: 1rem;
}
.pky-size-text {
  color: #484848;
}
.pky-btn {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  border-radius: 10px;
  background-color: #000;
}
.pky-price {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 1rem;
}
.pky-size {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  gap: 10px;
}

#pky-btn {
  margin-top: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  color: white;
  background: #000;
  border: none;
}
.btns {
}
.pky {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4em;
  justify-content: center;
  gap: 20px;
}
.btn-arrival {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 42px;
  padding-right: 42px;
  background-color: #fafafa;
  border: none;
  border-radius: 10px;
  color: #8a8a8a;
}
.btn-arrival-selected {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 42px;
  padding-right: 42px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  border-radius: 10px;
}
.arr-main {
  margin-top: 5rem;
}
.box {
  height: 460px;
  width: 380px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 40px 90px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  font-family: "Poppins";
  border-radius: 10px;
}
.arr-title {
  display: flex;

  flex-direction: column;
}
.arr-head {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}
#box-img-one {
  width: 350px;
  border-radius: 10px;
  height: 244px;
}
.boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.arr-box-tittle {
  font-size: 1.3rem;
}

.arr-writer {
  color: #8a8a8a;
  font-size: 14px;
}
.arr-btn {
  position: absolute;
  left: 47%;

  background: black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
  color: white;
  margin-top: 3rem;
}
.stars {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fca120;
}
.arr-review {
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.arr-price {
  font-size: 1.5rem;
  font-weight: 500;
}
.newsl-header {
  font-size: 3.2rem;
  font-family: "Volkhov";
  white-space: nowrap;
}
